body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.flashes {
    background-color: #EDD2D2;
}
/*Page headings and nav bar */
.page-heading{
    font-family: 'Rubik', sans-serif;
    color: #F35C45;
    text-transform: uppercase;
}

.nav-extended{
    background-color: #3C3D5C;
}

.brand-logo{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.page-intro {
    font-size: 130%;
    padding-bottom: 2%;
}

/* Images */

.register-img {
    height: 100%;
}

/* Register Page */

.card-panel {
    height: 100%;
}

.new-here {
    color: #3C3D5C;
}

/* Listings Page */
.card-image {
    width: 30%;
    padding: 2%;
}

.list-icon {
    color: #3C3D5C;
}

.list-heading {
    font-family: 'Rubik', sans-serif;
    color: #3C3D5C;
}

.card-action {
    font-family: 'Rubik', sans-serif;
}

.adaption-text {
    font-family: 'Rubik', sans-serif;
    color: #3C3D5C;
    text-transform: uppercase;
}

.search-reset {
    background-color: #3C3D5C;
}

.mandatory-text {
    color: #3C3D5C;
    text-transform: uppercase;
}
.data-text {
    font-size: 18px;
}

.btn-small {
    margin: 1%;
    background-color: #3C3D5C;
}

.page-footer {
    background-color: #9F9FAC;
}

.md-form .input-prefix{
    color:#ffa822!important;
}
.md-form .input-prefix.active {
    color:#ffa822!important;
}
.md-form input[type=‘text’]:not(.broswer-default):focus:not([readonly]){
    color:#134e6f!important;
    border-bottom:1px solid #FFA822!important;
    box-shadow: 0 1px 0 0 #FFA822!important;
}
.label:focus {
    color:#ffa822!important;
}

/* Media Queries */


/* Medium screens */



/*Small Screens */

@media screen and (max-width: 425px) {
  .brand-logo {
      font-size: 20%;
  }
}