body{
    font-family: 'Poppins', sans-serif;
}

/*Page headings and nav bar */
.page-heading{
    font-family: 'Rubik', sans-serif;
    color: #F35C45;
    text-transform: uppercase;
}

.nav-extended{
    background-color: #3C3D5C;
}

.brand-logo{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

/* Images */

.register-img {
    height: 100%;
}

.btn-large {
    background-color: #3157Af;
}

/* Register Page */

.card-panel {
    height: 100%;
}

/* Listings Page */
.card-image {
    width: 30%;
    padding: 2%;
}

.list-heading {
    font-family: 'Rubik', sans-serif;
    color: #3C3D5C;
}

.card-action {
    font-family: 'Rubik', sans-serif;
}

.adaption-text {
    font-family: 'Rubik', sans-serif;
    color: #3C3D5C;
    text-transform: uppercase;
}

.mandatory-text {
    color: #3C3D5C;
    text-transform: uppercase;
}
.data-text {
    font-size: 18px;
}

.btn-small {
    margin: 1%;
    background-color: #3C3D5C;
}

.btn-small a:hover {
    background-color: #EDD2D2;
}


.page-footer {
    background-color: #9F9FAC;
}