{% extends "base.html" %}
{% block content %}

<h2 class="page-heading center-align"> Home </h2>

<div class="row">
      <div class="col s12"><p class="page-intro center-align"> ADAPT EASY is here to help small businesses and their valued customers
        stay stafe and connected during the pandemic </p></div>
      <div class="col m6 s12">
        <p class="page-intro center-align"> ADAPT EASY is designed to allow small businesses to list how they have
            managed to their local COVID-19 restrictions</p>
        <p class="page-intro center-align"> As consumers, it is important to be mindful and adhere to these
            important adaptions while continuing to support small and local busines</p>
      </div>
      <div class="col m6 s12"><img class="responsive-img center-align" src="static/images/social_distance.png"></div>
    </div>


{% endblock %}