{% extends "base.html" %} {% block content %}

<h2 class="page-heading center-align">Listings</h2>
<h6 class="page-intro center-align"> Your local small business and their COVID adaptions </h6>

{% for adaption in adaptions %} 
<div class="col s12 m10">

  <h3 class="list-heading">{{ adaption.business_name }}</h3>
  <div class="card horizontal hoverable">
    <div class="card-image">
      <img class="responsive-img" alt="" src="{{ adaption.image_url }}" />
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p class="adaption-text"> Business Description</p>
            <p class="data-text"> {{adaption.business_description }} </p>
        <br/>
        <p class="adaption-text"> Adaption Description</p>
            <p class="data-text"> {{ adaption.adaption_description }} </p>
        <br/>
        {% if adaption.mask_mandatory == "on" %}
            <p class="mandatory-text"> Mask is mandatory for service!</p>
        {% endif %}
        <br />
        <p class="adaption-text"> Adaption Valid Until</p>
            <p class="data-text"> {{ adaption.valid_until }} </p>
          <br/>
        <a href="{{ adaption.website_url }} " target="_blank"><p class="adaption-text center-align">Click here to go to website</p></a>
      </div>
      <div class="card-action center-align">
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </div>
    </div>
  </div>
  
</div>
{% endfor %}

{% endblock %}
